/* General Adjustments for Medium-Sized Screens */
@media screen and (max-width: 1400px) {
  #profile {
    flex-direction: column;
    gap: 2rem;
  }
  .about-containers {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .section-container {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

/* Adjustments for Smaller Tablets */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .details-container {
    flex: 1 1 100%;
  }
}

/* Adjustments for Phones */
@media screen and (max-width: 600px) {
  #contact,
  footer {
    padding: 2rem 1rem;
  }
  .about-containers,
  .experience-details-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .section__pic-container {
    width: 100%;
    height: auto;
  }
  .title {
    font-size: 2rem;
  }
}
